<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="MSAccessDbODBC"
       connectionString="DSN={0};"
       providerName="System.Data.Odbc" />
      <add name="AccessDbODBC" connectionString="Driver={0};Dbq={1};"
          providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>

<!--connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Persist Security Info=False;" />-->
<!--
<add name="AccessDbODBC" connectionString="Driver={0};Dbq={1};"
    providerName="System.Data.Odbc" />
<add name="AccessDbOLE2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};"
    providerName="System.Data.OleDb" />
<add name="AccessDBOleDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}"
    providerName="System.Data.OleDb" />
-->
